[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "UniversalCVI"]
	path = UniversalCVI
	url = https://github.com/cran/UniversalCVI
